<div class="getJokeButton">
  <button mat-raised-button color="primary" (click)="getJokes()" [disabled]="isDisabled">Get Me Counts</button>
</div>

<div *ngIf="dataSource.length === 0 && showList" class="show-empty">
  <mat-card>No joke available....Please try again</mat-card>
</div>

<div *ngIf="showError && !isDisabled" class="show-empty">
  <mat-card>Error occured....Please try again</mat-card>
</div>

<div *ngIf="showList" class="show-results">
  <mat-spinner *ngIf="isDisabled && dataSource.length > 0"></mat-spinner>
  <table *ngIf="dataSource.length > 0 && !isDisabled" mat-table [dataSource]="dataSource" class="mat-elevation-z8 center">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Term Column -->
    <ng-container matColumnDef="term">
      <th mat-header-cell *matHeaderCellDef> Term </th>
      <td mat-cell *matCellDef="let element"> {{element.term}} </td>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let odd = odd; columns: displayedColumns;" [ngClass]="{gray: odd}"></tr>
  </table>
</div>
